<template>
  <my-post-form
      :initial-values="initialValues"
      :errors="validationErrors"
      :is-submitting="isSubmitting"
      @postSubmit="onSubmit"
  >

  </my-post-form>
</template>

<script>
import {mapState} from 'vuex'
import MyPostForm from "@/components/PostForm";
import {actionTypes} from "@/store/modules/post";

export default {
name: "MyCreatePost",

  components:{
    MyPostForm
  },

  data() {
    return {
      initialValues: {
        title: '',
        description: '',
        body: '',
      },
    }
  },
  computed: {
    ...mapState({
      isSubmitting: state => state.post.isSubmitting,
      validationErrors: state => state.post.validationErrors,
    }),
  },
  methods: {
    onSubmit(postData){
      this.$store.dispatch(actionTypes.createPost, {postData})
          .then(postId => {
            this.$router.push({ name: 'post.show', params: {postId: postId.data.id} })
          })
    }
  }
}
</script>

<style scoped>

</style>