<template>
  <div>
    <mcv-loading v-if="isLoading"></mcv-loading>
    <my-post-form
        v-if="initialValues"
        :initial-values="initialValues"
        :errors="validationErrors"
        :is-submitting="isSubmitting"
        @postSubmit="onSubmit"
    >
      {{isSubmitting}}
      {{ post }}
    </my-post-form>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import MyPostForm from "@/components/PostForm";
import McvLoading from "@/components/Loading";
import {actionTypes} from "@/store/modules/post";

export default {
  name: "MyEditPost",

  components: {
    MyPostForm,
    McvLoading
  },
  computed: {
    ...mapState({
      isSubmitting: state => state.post.isSubmitting,
      isLoading: state => state.post.isLoading,
      post: state => state.post.data,
      validationErrors: state => state.post.validationErrors,
    }),
    initialValues() {
      if (!this.post) {
        return null
      }
      return {
        title: this.post.title,
        description: this.post.description,
        body: this.post.body,
      }
    },
  },
  mounted() {
    this.$store.dispatch(actionTypes.getPost, {
      postId: this.$route.params.postId
    }).then(res => {
      console.log(res)
    })
  },
  methods: {
    onSubmit(postData) {
      const postId = this.$route.params.postId
      this.$store.dispatch(actionTypes.updatePost, {postId, postData})
          .then(postId => {
            this.$router.push({name: 'post.show', params: {postId: postId.data.id}})
          })
    }
  }
}
</script>

<style scoped>

</style>