<template>
  <div class="home-page">
    <my-banner></my-banner>
    <div class="container page">
      <div class="row">
        <div class="col-md-12">
          <my-feed :api-url="apiUrl" ></my-feed>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyBanner from '@/components/Banner'
 import MyFeed from "@/components/Feed";

export default {
  name: 'HomeView',
  components: {
    MyBanner,
    MyFeed
  },

  data(){
    return {
      apiUrl: '/api/posts'
    }
  }
}
</script>
