<template>
  <div class="article-page">
    <div class="banner">
      <div class="container" v-if="post">
        <h1>{{post.title}}</h1>
        <div class="article-meta">
          <div class="info">
            <router-link :to="{name: 'home', params: {userId: post.author.id}}">
              {{post.author.username}}
            </router-link>
            <span class="date">{{post.createdAt}}</span>
          </div>
          <span>
            <router-link class="btn btn-outline-secondary btn-sm" :to="{name: 'post.edit', params: {postId: post.id}}">
              <i class="ion-edit"></i>Edit Post
            </router-link>
            <button class="btn btn-outline-danger btn-sm ms-1" @click="deletePost">
              <i class="ion-trash-a"></i>Delete Post
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="container page">
      <my-loading v-if="isLoading"></my-loading>
      <my-error-message v-if="error" :message="error"></my-error-message>
      <div class="row article-content" v-if="post">
        <div class="col-sm-12">
          <div>
            <p>{{ post.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {actionTypes as articleActionTypes} from "@/store/modules/post";
import MyLoading from "@/components/Loading";
import MyErrorMessage from "@/components/ErrorMessage";
import {gettersType as authGetterTypes} from "@/store/modules/auth";
import {mapState, mapGetters} from 'vuex'

export default {
  name: "MyPost",
  components: {
    MyLoading,
    MyErrorMessage
  },


  computed: {
    ...mapState({
      isLoading: state => state.post.isLoading,
      error: state => state.post.error,
      post: state => state.post.data
    }),
    ...mapGetters({
      currentUser: authGetterTypes.currentUser
    }),
    isAuthor(){
      if(!this.post || ! this.currentUser){
        return false
      }
      return this.currentUser.id === this.post.author.id
    }
  },
  mounted() {
    this.$store.dispatch(articleActionTypes.getPost, {postId: this.$route.params.postId})
  },
  methods: {
    deletePost() {
      this.$store
          .dispatch(articleActionTypes.deletePost, {
            postId: this.$route.params.postId
          })
          .then(this.$router.push({name: 'home'}))
    }
  }
}
</script>

<style scoped>
.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}

.banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

.banner {
  padding: 2rem 0 2rem 0;
}

.banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

.banner .btn {
  opacity: 0.8;
}

.banner .btn:hover {
  transition: 0.1s all;
  opacity: 1;
}

.banner .article-meta {
  margin: 2rem 0 0 0;
}

.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.info {
  text-align: left;
}

.container.page {
  margin-top: 1.5rem;
}

.user-icon {
  height: 26px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}

.article-page .article-content p {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.article-page .article-content h1, .article-page .article-content h2, .article-page .article-content h3, .article-page,
.article-content h4, .article-page .article-content h5, .article-page .article-content h6 {
  font-weight: 500 !important;
  margin: 1.6rem 0 1rem 0;
}

</style>