<template>
  <div>
    {{ message }}
  </div>
</template>

<script>
export default {
  name: "MyErrorMessage",
  props: {
    message:{
      type: String,
      required: false,
      default: 'Something went wrong'
    }
  }
}
</script>

<style scoped>

</style>