<template>
  <div>
    <my-loading v-if="isLoading"></my-loading>

    <my-error-message v-if="error" :message="error"></my-error-message>

    <div v-if="feed">
      <div class="article-preview" v-for="(post, index) in feed" :key="index">
        <div class="article-meta">
          <div class="info">
            <router-link :to="{ name: 'home', params: {userId: post.author.id} }"
                         class="author">
              {{ post.author.username }}
            </router-link>
            <span class="date">{{ post.createdAt }}</span>

          </div>

        </div>
        <router-link :to="{ name: 'post.show', params: {postId: post.id}}"
                     class="preview-link">
          <h1>{{ post.title }}</h1>
          <p>{{ post.description }}</p>
          <span>Read more...</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import {actionTypes} from "@/store/modules/feed";
import MyLoading from "@/components/Loading";
import MyErrorMessage from "@/components/ErrorMessage";

export default {
  name: "MyFeed",
  props: {
    apiUrl: {
      type: String,
      required: true
    }
  },

  components: {
    MyLoading,
    MyErrorMessage
  },

  computed: {
    ...mapState({
      isLoading: state => state.feed.isLoading,
      feed: state => state.feed.data,
      error: state => state.feed.error
    }),
    baseUrl() {
      return this.$route.path
    },
  },
  watch: {
    currentPage() {
      this.fetchFeed()
    }
  },
  mounted() {
    this.fetchFeed()
  },
  methods: {
    fetchFeed() {
      this.$store.dispatch(actionTypes.getFeed, {apiUrl: this.apiUrl})
    }
  }


}
</script>

<style scoped>
.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.info .article-meta .author {
  display: block;
  font-weight: 500 !important;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.article-preview .article-meta {
  margin: 0 0 1rem 0;
}

.article-preview .preview-link h1 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin-bottom: 3px;
}

.article-preview .preview-link p {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  line-height: 1.3rem;
}

.article-preview .preview-link span {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}

.article-preview .preview-link ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}

.article-preview .preview-link ul li {
  font-weight: 300;
  font-size: 0.8rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.info .article-meta .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

a {
  color: #431987;
  text-decoration: none;
  background-color: transparent;
}

</style>