<template>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">
        <router-link :to="{ name: 'home' }" class="navbar-brand">
          MainLogo
        </router-link>
        <button @click.prevent="collapseList" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" :class="{ show: showDropDown }"
             id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <template v-if="isLoggedIn">
              <router-link :to="{ name: 'home' }" class="nav-link" active-class="active">
                Home
              </router-link>
              <router-link :to="{ name: 'post.store' }" class="nav-link" exact active-class="active">
                New Post
              </router-link>
              <router-link :to="{ name: 'home' }" class="nav-link" @click="logout">
                Logout
              </router-link>

              <router-link :to="{ name: 'home', params: {user: currentUser.user} }" class="nav-link" exact
                           active-class="active">

                &nbsp; {{ currentUser.user }}
              </router-link>
            </template>
            <template v-if="isAnonymous">
              <router-link :to="{ name: 'login' }" class="nav-link" exact active-class="active">
                Sing In
              </router-link>
              <router-link :to="{ name: 'register' }" class="nav-link" exact active-class="active">
                Sing Up
              </router-link>
            </template>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import {actionTypes, gettersType} from "@/store/modules/auth";
import {mapGetters} from 'vuex'

export default {
  name: "MyTopBar",


  data() {
    return {
      showDropDown: false
    }
  },

  computed: {
    ...mapGetters({
      currentUser: gettersType.currentUser,
      isLoggedIn: gettersType.isLoggedIn,
      isAnonymous: gettersType.isAnonymous
    }),
  },

  methods: {
    collapseList() {
      this.showDropDown = !this.showDropDown
    },
    logout:
      function(e) {
        e.preventDefault()
        this.$store.dispatch(actionTypes.logout, {}).then(() => {
          this.$router.push({name: 'login'})
        })
      }

  }
}
</script>

<style scoped>
.navbar-brand {
  color: #431987!important;
}

.nav-link .user-pic {
  height: 26px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}
</style>