<template>
  <my-top-bar></my-top-bar>
  <router-view/>
</template>
<script>
import MyTopBar from "@/components/TopBar";
import {actionTypes} from "@/store/modules/auth";

export default {
  name: "App",
  components: {
    MyTopBar
  },

  mounted() {
    this.$store.dispatch(actionTypes.getCurrentUser)
        .then(() => {

        })

        .catch(() =>{
      this.$router.push({ name: 'login' })
    })
  },
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #431987;
}
</style>
